#AddModule{
  .tang-addmodule-form{
    display: flex;
    //justify-content:space-around;
    align-items:center;
    >div{
      flex:1
    }
  }
  .tang-addmodule-btn{
    float:right;
    >div{
      margin-right: 20px !important;
      margin-top: 20px !important;
    }
  }
}